# How many seconds will cache be kept before updating.
CACHE_DEFAULT_TIMEOUT=120

# Specifies which type of storage backend to use.
# In-memory cache: SimpleCache, FileSystemCache
# Over the network caches: RedisCache, MemcachedCache
CACHE_TYPE=SimpleCache

# Options are required by some Storage backends.
# Values should be key=value separated by semicolons.
# Example: db=0;protocol=3
# The example above turns into: {'db': 0, 'protocol': 3}
CACHE_OPTIONS=

# Directory to store cache. Used only for FileSystemCache.
CACHE_DIR=.cache

# If true errors that occurred during the deletion process will be ignored.
CACHE_IGNORE_ERRORS=false

# The maximum number of items the cache will store before it starts deleting some.
# Used only for SimpleCache and FileSystemCache.
CACHE_THRESHOLD=500

# A Redis server host. Used only for RedisCache.
CACHE_REDIS_HOST=

# A Redis server port. Default is 6379. Used only for RedisCache.
CACHE_REDIS_PORT=6379

# A Redis password for server. Used only for RedisCache.
CACHE_REDIS_PASSWORD=

# A Redis db (zero-based number index). Default is 0.
# Used only for RedisCache.
CACHE_REDIS_DB=0

# URL to connect to Redis server. Example redis://user:password@localhost:6379/2
# Supports protocols redis://, rediss:// (redis over TLS) and unix://
# http://redis-py.readthedocs.io/en/latest/index.html#redis.ConnectionPool.from_url
# Used only for RedisCache.
CACHE_REDIS_URL=

# A list or a tuple of server addresses.
# Values should be addresses separated by semicolons.
# Example: 127.0.0.1:11211;192.168.0.125:11211
# Used only for MemcachedCache.
CACHE_MEMCACHED_SERVERS=

# Enable/disable rate limiting entirely.
RATE_LIMIT_ENABLED=true

# Max amount of requests aplied to all endpoints.
# Combine them so each limit is checked independently.
# If user violates any one of them the request is blocked.
# Multiple values should be separated by semicolons.
RATE_LIMIT_DEFAULT=3 per second;30 per minute

# Max amount of requests aplied to all endpoints using the fallback storage.
# Will be used when the configured storage is down.
# Multiple values should be separated by semicolons.
RATE_LIMIT_IN_MEMORY_FALLBACK=1 per second;15 per minute

# Upper limit of the amount of requests of a requesting client.
# Protects against distributed abuse patterns.
# Multiple values should be separated by semicolons.
RATE_LIMIT_META=1000 per hour;6000 per 12 hours

# Rate limiter storage backend.
# Example: Redis: redis://host:port | MongoDB: mongodb://host:port
# Or to use local RAM memory use memory://
RATE_LIMIT_STORAGE_URI=memory://

# Options are required by some Storage backends.
# Values should be key=value separated by semicolons.
# Example: db=0;protocol=3
# The example above turns into: {'db': 0, 'protocol': 3}
RATE_LIMIT_STORAGE_OPTIONS=

# IPs that are exempt from rate limiting. Supports CIDR Ranges such as 192.168.0.0/24.
# Values should be IP or IP ranges separated by semicolons.
# Example: 127.0.0.1;192.168.0.0/24
RATELIMIT_IP_EXEMPT_IPS=

# Enable/disable sending Rate limiting Headers to users.
RATE_LIMIT_HEADERS_ENABLED=true

# Prefix that is prepended to each stored rate limit.
# Useful when using a shared storage for multiple applications or rate limit domains.
RATE_LIMIT_KEY_PREFIX=mcqueryapi:

# The rate limiting strategy used.
# Can be: fixed-window | moving-window | sliding-window-counter
# https://flask-limiter.readthedocs.io/en/stable/strategies.html
RATE_LIMIT_STRATEGY=fixed-window

# Whether to allow failures while attempting to perform a rate limit
# such as errors with the backend storage.
RATE_LIMIT_SWALLOW_ERRORS=true

# If enabled an in memory rate limiter will be used as a fallback
# when the configured backend storage is down.
RATE_LIMIT_IN_MEMORY_FALLBACK_ENABLED=true

# Whether to stop processing remaining limits after the first breach.
RATELIMIT_FAIL_ON_FIRST_BREACH=true
