# Python
__pycache__/
*.py[cod]

# Environments
.env
.venv
venv/

# Logs & temp
*.log
*.tmp

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Cache
.cache

# VSCode
.vscode/*
!.vscode/launch.json
